#chatbox {
    background: grey;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

#messages{
    background: white;
    margin: 10px;
    width: 80%;
}

#messageList{
    background: blue;
    color: white;
    width: 70%;
    border-radius: 20ch;
    padding: 10px;
    list-style-type: none;
    margin-left: 2ch;
}

#textentry{
    

}

.mainText{
    width: 80%;
    height: 40px;
}